<div class="flex items-center gap-2 mb-4">
    <div class="w-[4px] h-full min-h-9 bg-red-800 flex items-center"></div>
    <slot name="headingText" class="text-xl md:text-2xl font-medium tracking-[2px]">
    </slot>
</div>