---
import Socials from '@/components/core/Socials.astro';
import { Container } from '@/components/odyssey-theme';
---

<Container>
	<section class="w-full flex justify-center max-w-[1280px]">
		<div
			class="hero-section__section flex flex-col-reverse md:flex-row md:gap-[120px] px-4 lg:px-12 mt-8 w-full"
		>
			<div class="hero-section__text" data-aos="fade-right">
				<h1
					class="text-[44px] text-red-800 font-semibold text-center md:text-right md:text-[50px] lg:text-5xl -tracking-[4px] whitespace-nowrap"
				>
					Dr. Chima Amadi
				</h1>
				<div class="flex justify-center md:justify-end">
					<p class="text-sm md:text-base text-center md:text-right max-w-[80%]">
						Executive Director of the Centre for Transparency Advocacy (CTA)
					</p>
				</div>
				<Socials />
			</div>
			<div class="hero-section__image" data-aos="fade-left">
				<picture>
					<img
						src="/assets/images/home/mazi-15.webp"
						alt="Dr. Chima Matthew Amadi Mazi Gburugburu"
						id="home-hero-image"
						class="h-full"
					/>
				</picture>
			</div>
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		align-items: center;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 27rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 600px;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>
