---
import { Container } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import Heading from "@components/sections/heros/Heading.astro";
import SectionTop from "@components/sections/heros/SectionTop.astro";

const seo = {
	title: 'About | Dr. Chima Amadi',
	description: 'Explore the life, education, and achievements of Dr. Chima Amadi, a renowned scholar, advocate for good governance, and entrepreneur.',
};
---

<Layout {seo}>
    <section class="pb-10 lg:px-10">
      <div class="w-full">
        <SectionTop>
            <div slot="text-container">
                <Heading>
                    <h2 slot="headingText" class="text-lg md:text-2xl font-medium tracking-[1px]">About Dr. Chima Amadi</h2>
                </Heading>
                <div class="text-xs md:text-sm xl:text-base">
                    <p>
                        Dr. Chima Matthew Amadi, also called "Mazi Gburugburu," is a respected Nigerian scholar, researcher, advocate for good governance, entrepreneur, and philanthropist who has made noteworthy advancements in the fields of Political Science, Economics, and Development Studies. 
                    </p>
                    <p>He is the chairman of  Centre for Transparency Advocacy (CTA), Julian-Matt Group, and founded the Jude and Juliana Amadi Foundation.</p>
                    <p>
                        In 2023, Amadi was awarded the Social Crusader of the Year by The New Telegraph Newspapers. 
                    </p>
                </div>
            </div>
        <picture slot="image-container">
          <img
            src="/assets/images/home/chima-amadi-2.webp"
            alt="Dr. Chima Amadi's image"
            id="home-hero-image"
          />
        </picture>
        </SectionTop>
        <div class="px-4 lg:px-10 mt-8">
            <Heading>
                <h2 slot="headingText" class="text-lg md:text-2xl font-medium tracking-[1px]">Early Life and Education</h2>
            </Heading>
            <div class="text-xs md:text-sm xl:text-base">
              <p>
                Born in Kano (Kano state, Nigeria) to Jude and Julia Amadi, young Chima grew up in Kano and completed his primary education at Dabo Primary School in Kano before proceeding to the Army Day Senior Secondary School in Kano
                and then completed his secondary school at the Comprehensive Secondary School education, Umuekwune, Imo State. Driven by his passion for knowledge and desire to make a difference, the youthful and energetic Chima enrolled
                at the University of Ibadan, where he pursued a Bachelor's degree in Human Nutrition. He excelled in his studies and graduated with honors.
              </p>
              <p>During his time at the University of Ibadan, Chima demonstrated his leadership potential when he served as the Secretary General of the Students Union. This experience stimulated his passion for advocating transparency and good governance. He was also the president of the Shehu Musa Yar'Adua Memorial Youth Association an off youth organization of the People's Democracy Movement (PDM) where he was mentored by political sages like late Alhaji Abubakar Garba  Koko, Prof Ango Abdulai and late Mallam Lawal Kaita.</p>
            </div>
        </div>
      <div class="px-4 lg:px-10 mt-8">
            <Heading>
                <h2 slot="headingText" class="text-lg md:text-2xl font-medium tracking-[1px]">Academic Achievements</h2>
            </Heading>
            <div class="text-xs md:text-sm xl:text-base">
              <p>
                On completing his undergraduate studies, Chima bagged a masters in public health and a Ph.D. in Human Nutrition. Following a brief stint as a consultant Nutritionist, his thirst for knowledge and his multidisciplinary interests led him to pursue another degree in Politics and International relations, graduating with a first class at the lead city university Ibadan. 
              </p>
              <p>Chima proceeded to the prestigious London School of Economics and Political Science on a Chevening scholarship, where he obtained an MSc in  Comparative Public Policy and Administration. Chima will return to his alma mater University of ibadan to obtain an MSc in political science graduating with a solid PhD grade, allowing him to proceed for yet another PhD in the university of ibadan. However Chima would deny this offer to proceed to the University College London,  for the purpose of honing his analytical skills in political theory. At the University College London Chima graduated with an Msc in  Democracy and Comparative Politics. Propelled by the desire to combine qualitative understanding of social phenomena Chima proceeded to  Lead City University, Ibadan. Where he obtained an Msc in Economics and Development studies, graduating with a distinction. Having acquired Quantitative and Qualitative analytical skills, Chima was offered a place as a doctoral fellow/ candidate at the Department of Politics and International studies of the University of Warwick in the United Kingdom.  His extensive and impressive academic attainments have equipped him with a deep understanding of diverse disciplines and enabled him to approach complex issues from a multidimensional perspective.</p>
            </div>
        </div>
        <div class="px-4 lg:px-10 mt-8">
            <Heading>
                <h2 slot="headingText" class="text-lg md:text-2xl font-medium tracking-[1px]">Professional Experience</h2>
            </Heading>
            <div class="text-xs md:text-sm xl:text-base">
              <p>
                Dr. Chima Amadi's professional career is marked by organizational leadership roles that promote transparency, accountability, and good governance. One of his notable positions is as the Executive Director of the Centre for Transparency Advocacy (CTA), which he has occupied since October 2014 until he stepped down in 2019 to pursue his academic interests. In that role, Dr. Amadi provided strategic leadership and oversaw the planning, implementation, and evaluation of the organization's programmes. He was responsible for ensuring that the CTA's initiatives align with its mission and reflect the priorities set by the Board.
              </p>
              <p>Prior to his role at CTA, Dr. Amadi served as the Senior Programme’s Manager at Partners for Electoral Reform from June 2010 to October 2014. He was responsible for implementing election operational plans, coordinating operations and observer teams during elections, and conducting training workshops for observer teams. His work in this role contributed to promoting free and fair elections in Nigeria.</p>
            <p>Dr. Amadi Career is not limited to his advocacy as he is also a serial entrepreneur with a chain of successful companies in the corporate world. He is the chairman of the JulianMatt group, an ecosystem with a portfolio of business across Agro business, investment, construction, commodities export, aviation, mining, hospitality, entertainment and media. </p>
            </div>
        </div>
        <div class="px-4 lg:px-10 mt-8">
            <Heading>
                <h2 slot="headingText" class="text-lg md:text-2xl font-medium tracking-[1px]">Research Interest and Advocacy</h2>
            </Heading>
            <div class="text-xs md:text-sm xl:text-base">
              <p>
                At the core of his doctoral research is a critical analysis of how counterterrorism measures intersect with democratic processes and governance across Africa. This groundbreaking work meticulously dissects the utilization of Counterterrorism Measures (CTMs) by political actors in Nigeria and Kenya to sway electoral outcomes. By weaving together historical, economic, and socio-political threads, Chima aims to unravel the complexities that underpin the use of CTMs in elections. My research seeks to illuminate the nuanced similarities, differences, and patterns in how state actors employ these measures, assessing their broader socio-political ramifications and contribution to the global trend of democratic recession. I am supervised by Professor Gabrielle Lynch and Dr. Trevor McCrisken, both esteemed members of the Politics and International Studies department at Warwick.
              </p>
              <p>Dr. Chima Amadi's passion for advocacy and research is evident in his numerous publications and paper presentations. His work addresses critical issues such as elections in Nigeria, patronage and agency budget in presidential appointments, public institutions' accountability, and the role of Nigeria in international economic relations.</p>
            <p>Some of his notable publications include "2019 Elections in Nigeria: The Clear and Present Dangers," where he highlights the challenges of elections in Nigeria, and "Engaging With Public Institutions on Accountability Issues," which examines the experiences of the Centre for Transparency Advocacy. These publications showcase Dr. Amadi's expertise and insights into governance and transparency-related issues.</p>
            <p>In addition to his publications, Dr. Amadi has presented papers at various workshops and conferences, sharing his research findings and contributing to academic discourse. He has presented papers on topics such as the rejection of the global North's development ideology for Africa's development, gender, politics, power, accountability, and democratic processes.</p>
        </div>
        </div>

    <Container>
      <div class="hero-section__section mt-10 flex flex-col md:flex-row-reverse items-center justify-between px-4 lg:px-8">
            <div class="hero-section__text">
          <div>
            <Heading>
              <h2 slot="headingText" class="text-lg md:text-2xl font-medium tracking-[1px]">Philanthropic Activities </h2>
          </Heading>
          <div class="text-xs md:text-sm xl:text-base">
            <p>
              Through the Jude and Juliana Foundation, Dr. Amadi has been actively involved in philanthropic activities, empowering villagers in his Ngor Okpala Community and neighboring villages in Imo State, Nigeria. Additionally, he has supported Nigerian youths through scholarships and business capitals, demonstrating his commitment to community upliftment.
            </p>
           </div>
          </div>
          </div>
          <div class="hero-section__image">
            <picture slot="image-container">
              <img
                src="/assets/images/home/chima-amadi-3.webp"
                alt="Dr. Chima Amadi's image"
                id="home-hero-image"
              />
            </picture>
          </div>
        </div>
	    </div>
    </Container>
        <div class="px-4 lg:px-10 mt-8 mb-10">
            <Heading>
                <h2 slot="headingText" class="text-lg md:text-2xl font-medium tracking-[1px]">Awards and Honors </h2>
            </Heading>
            <div class="text-xs md:text-sm xl:text-base">
              <p>
                In 2016, he was recognized as a Chevening Scholar, a prestigious award that acknowledges outstanding individuals with leadership potential. He was awarded the Jide Owoeye Prize for Foreign Policy Analysis in 2015 and was named the Best Graduating Student in International Relations in the same year. These accolades reflect Dr. Amadi's dedication to academic excellence and commitment to positively impacting his field. In 2023, The New Telegraph Awards awarded him the Social Crusader of the Year.               </p>
             </div>
        </div>
      </div>
        </section>
</Layout>

<style>
	.hero-section__section {
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image :global(img) {
		width: 100%;
		height: 100%;
		max-height: 600px;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			margin: 2rem auto 0 auto;
			grid-template-columns: 1fr;
		}
	}
    p {
        margin-top: 6px;
        line-height: 20px;
    }
    @media screen and (width > 780px) {
        p {
            line-height: 24px;
        }
    }
</style>