---
import type { Articles } from '@/sanity/sanity.types';
import PortableText from '../PortableText.astro';

type Post = NonNullable<Articles['articles']>[number];
interface BlogPostsListProps {
	posts?: Post[];
}

const { posts = [] } = Astro.props as BlogPostsListProps;
---

<ul class="blog-posts-list__list">
	{
		posts.map(post => (
			<li class="blog-post__preview">
				<a href={post.link} target="_blank">
					<span class="h-fit md:h-[350px] bg-slate-500/30 overflow-hidden flex w-full justify-center items-center backdrop-blur-md relative">
						<PortableText portableText={post.image} />
					</span>
					<p class="text-xs font-medium">{post.excerpt}</p>
				</a>
			</li>
		))
	}
</ul>

<style>
	.blog-posts-list__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
	.blog-post__preview span {
		margin-bottom: 1rem;
		border-radius: calc(var(--theme-shape-radius) / 2);
		transition: border-radius var(--theme-transition);
	}
	.blog-post__preview:hover span {
		border-radius: var(--theme-shape-radius);
	}
	.blog-post__preview a {
		display: block;
		text-decoration: none;
		color: inherit;
	}
	.blog-post__preview h3 {
		margin: 0;
	}
	@media (max-width: 768px) {
		.blog-posts-list__list {
			grid-template-columns: 1fr;
		}
	}
</style>
