---
import { SkipLink } from '@/components/odyssey-theme';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import LoadingScreen from '@/components/LoadingScreen.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
		<meta charset="UTF-8" />
	</head>
	<body>
		<LoadingScreen />
		<SkipLink />
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
