---
import { SkipLink } from '@/components/odyssey-theme';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import LoadingScreen from '@/components/LoadingScreen.astro';

export interface Props {
	seo?: BaseHeadProps;
}

// Define gtag function type
type GtagFunction = {
	(command: 'js', date: Date): void;
	(command: 'config', targetId: string): void;
};

// Declare global window properties
declare global {
	interface Window {
		dataLayer: any[];
		gtag: (...args: any[]) => void;
	}
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
		<meta charset="UTF-8" />
		<meta
			name="google-site-verification"
			content="fMg61BZgQ0BB4Bcxq8PU5cH5C8KLBvV8sTjHPu3BUMY"
		/>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE2CP1HKXB"
		></script>
		<script define:vars={{ trackingId: 'G-BE2CP1HKXB' }}>
			// Initialize dataLayer
			window.dataLayer = window.dataLayer || [];

			// Define gtag function
			function gtag() {
				window.dataLayer.push(arguments);
			}

			// Add gtag to window
			window.gtag = gtag;

			// Initialize Google Analytics
			window.gtag('js', new Date());
			window.gtag('config', trackingId);
		</script>
	</head>
	<body>
		<LoadingScreen />
		<SkipLink />
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
